$color-highlight: rgb(233, 90, 161);
$color-blackstone-dark-blue: #181d29;
$color-dark-gray-blue: #222733;
$color-light-gray-blue: #313844;
$color-blackstone-purple: rgb(73, 30, 51);
$color-white: #f2f2f2;

$text-tiny: 0.8rem;